@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Cormorant Garamond", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #130c0f;
  margin: 15px;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 50px;
}

.header {
  text-align: center;
  grid-row: 1 / 2;
  justify-self: center;
}

.title {
  color: #d0b4bf;
}

label {
  color: #d0b4bf;
}

input {
  border-radius: 5px;
  border: 1px solid #130c0f;
}

.author,
.title-input {
  width: 266px;
  font-family: "Cormorant Garamond", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
}

.author:focus,
.title-input:focus,
.pages-input:focus {
  outline: none;
}

.pages-input {
  width: 119px;
  font-family: inherit;
  font-size: 1.1rem;
}

.add-book-btn,
.submit-book-btn,
.has-read-btn,
.finished-btn,
.remove-btn {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 7px 14px;
  color: #130c0f;
  background-color: #d0b4bf;
}

.add-book-btn {
  display: inline-block;
}

.book-info {
  display: none;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  background-color: #d0b4bf;
  width: 300px;
  height: 250px;
  border-radius: 10px;
}

.author-div,
.title-div {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  align-items: start;
}

.title-div {
  grid-column: 1 / -1;
}

.author-div {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.pages-div {
  grid-row: 3 / 4;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  align-items: start;
}

.has-read-div {
  align-self: center;
  margin-left: 14px;
  justify-self: start;
}

.has-read-btn {
  display: block;
  background-color: #130c0f;
  color: #d0b4bf;
  padding: 3px 14px;
}

label {
  color: #130c0f;
}

.submit-book-btn {
  max-width: fit-content;
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  background-color: #130c0f;
  align-self: center;
  justify-self: start;
  margin-left: 14px;
  color: #d0b4bf;
}

.add-book-btn:hover,
.submit-book-btn:hover,
.has-read-btn:hover {
  font-size: 1.2rem;
}

.add-book-btn:active,
.submit-book-btn:active,
.has-read-btn:active {
  font-size: 1.1rem;
}

.library {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 15px;
  justify-content: center;
}

.book-card {
  height: 260px;
  background-color: #d0b4bf;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.book-title,
.book-author,
.number-of-pages {
  color: #130c0f;
}

.book-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.book-author {
  font-size: 1.5rem;
}

.number-of-pages {
  position: absolute;
  bottom: 70px;
  left: 20px;
  font-size: 1.25rem;
}

.finished-btn {
  background-color: #130c0f;
  color: #d0b4bf;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.remove-btn {
  background-color: #130c0f;
  color: #d0b4bf;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.finished-btn:hover,
.remove-btn:hover {
  font-size: 1.1rem;
}

.finished-btn:active,
.remove-btn:active {
  font-size: 1rem;
}
